:root{
    --gray:#6B7280;
    --darker:#1F2937;
    --pink:#EC4899;
}


header{
    padding: 2rem 1rem;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}
#SBForm{
    display: flex;


}
#SearchInput{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.2rem;
}
#SearchInput::placeholder{
    color: var(--gray);
}
#SearchInputSubmit{
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right,var(--pink),
    var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#SearchInputSubmit:active{
        opacity: 0.6;
}
#SearchInputSubmit:hover{
    opacity: 0.6;
}